<p>Hi <%= @user.first_name %>,</p>

<p>
  Welcome to the KooK family! We are thrilled to have you here!
</p>

<p>Let's get kook-ing! Check out our top recipes here <a href="https://kook-app.herokuapp.com/"></a></p>

<p>Kook Team</p>
