
<div class="container">
    <h2 class="heading-1">Top Chefs</h2>
</div>

<div class="my-4 d-flex overflow-x">
  <% chefs.each do | chef | %>
      <div class="container">
        <div class="card-category card-home  effect1" style="background-image:url(<%= cl_image_path chef.user.photo.key%>)">
        <%= link_to chef.user.first_name, chef_path(chef),class: "recipe-link-hidden" %>
        </div>
        <div class=" card-body pb-0 text-center">
        <%= link_to chef.user.first_name, chef_path(chef),class: "recipe-link" %>
              <%# <% chefs.chef_reviews.each do |review| %>
               <%# <em><%= review.content %>
        </div>
      </div>
    <%# <% end %> 
  <% end %>
  
</div>

