<script src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"></script>

<div class="like-icon mx-2<%= 'red' if current_user.favorited?(recipe) %>"data-id="<%= recipe.id %>">
  <i class="fas fa-heart" aria-hidden="true"></i>
</div>
