<div class="container mt-4">
  <div class="row">
    <% @recipes.each do |recipe| %>
    <div class="col-12 col-md-6 mb-4">
      <div class="card-trip">
        <% recipe.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class: "card-trip", crop: :fill %>
          <% end %>
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
