<!-- recipe image -->
<div class="banner my-0" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= cl_image_path @recipe.photos.first.key %>);">
  <div class="container text-center">
    <h1> <%= @recipe.name %> </h1>
  </div>
</div>
