<h1>Booking #<%= @booking.id %></h1>
<!-- booking details -->
<div class="container">
  <p> <%= link_to "Cancel Booking", booking_path(@booking), method: :delete, class: "btn button" %> </p>
</div>


