
 <!--  increased the jumbotron width -->
      <div class="container-full-bg">
        <div class="jumbotron mb-0 bg-main">
            <div class="container">
            </div>




            </div>

        </div>


</div>
<div class="container">
<%= render '/recipes/top', recipes:@top_recipes %>
</div>
