<div class="container mt-4">
  <h1>My Chef Dashboard</h1>
  <% @bookings.each do |booking| %>
   <h3>Booking #<%= booking.id %> | <%= booking.user.first_name %> <%= booking.user.last_name %></h3>
  <% end %>

<!-- create recipe link -->
<%= link_to "Add Recipe", new_recipe_path, class: "btn button" %>
<!--  -->
</div>
