.button {
  background-color: #A288E3;
  color: white;

  &:hover {
    background-color: #A288E3;
    color: white;
    transition-timing-function: linear;
    transition-delay: .08s;
  }
}
.button-delete {
  background-color: #fc494c;
  opacity: 0.8;
  color: white;

  &:hover {
    background-color: #fc494c;
    color: white;
    transition-timing-function: linear;
    transition-delay: .08s;
  }
}

#search-btn{
  background-color: #A288E3;
  color:white;
  font-family: 'Nunito Sans', sans-serif;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}


.button-book{
  border-radius: 20px;
}


#dropdownMenuButton{
  padding: 5px;
  color:black;
  background-color: white;
  font-family: 'Nunito Sans', sans-serif;
}

.dropdown-toggle::after {
  display: none;
}