.button {
  background-color: #76CFB8;
  color: white;

  &:hover {
    background-color: #4cb297;
    color: white;
    transition-timing-function: linear;
    transition-delay: .08s;
  }
}


#search-btn{
  background-color: #76CFB8;
  color:white;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}