.card-chef {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  border: white solid 2px;

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}
.chef-recipe-show  {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.card-title-chef-name{
  font-family: 'Poppins', sans-serif;
  color:#290149;
  font-size: 20px;
}
