.navbar-lewagon {
  justify-content: space-between;
  background:white;
  padding: 20px;
  margin: 0px !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar-light .navbar-toggler {
  border-radius: 10px;
  margin-top: 2px;
  border-color:#A288E3;
  border-width:2px;


}


.navbar-light .navbar-toggler-icon {
  background-image: asset-url("hamburger-solid.svg");

}


#drpdown {

  margin:10px;
  padding: 20px;
  border-color: transparent;

    &:hover{
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}

#drpdown a{
  font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    color:#290149;
  &:hover{
    color:#A288E3;
    background-color: transparent;
  }
}

.dropdown-item {
  padding: 15px;
}

.inblk{
  display: flex;
}

// .navbar-collapse.show img{
//   display:none;
// }

.navbar-collapse.show .dropdown-menu{
  display: block;
}


/* CSS EFFECTS ON DROP DOWN LINKS */
.text_dropdown{
font-size: 1.5rem;
padding: 0 6px 2px 6px;
cursor: pointer;
    color: rgba(80, 89, 113, 0.7);
  letter-spacing: .08rem;
  text-align: center;
// &:hover {
//   color:red;
// }
// &:active {
//   background-size: 80% 100%;
// }
}

/* END OF CSS EFFECTS ON DROP DOWN LINKS */







/* MEDIA QUERIES */

@media (min-width: 320px)and (max-width: 480px) {
  /* For mobile phones: */
  [id*="drpdown"] {
    width:100px;
  }

}

@media (max-width: 580px) {

  #navbarDropdown{
    display: none;
    opacity: 0;
  }

}

/* END MEDIA QUERIES */


.navbar-collapse.collapse.show #drpdown{
  width: 80%;

}

/* centering drop down menu in responsive to be in the middle */
.col-md-12{
  display: flex;
  justify-content: center;
}



.container-fluid{
 margin:20px;
}

.form-control{
  width: 80%;

}

.navbar .navbar-nav {
  float: none;
  vertical-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

.form-control:disabled, .form-control[readonly]{
  background: #faf5f1;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  margin-bottom:20px;

}
