.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  color: #555555;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  line-height: 1.4;
}

.notification span {
  color: #999999;
  font-weight: bold;
}

