.form-calendar {
  margin: 16px;
  box-shadow: rgba(0,0,0,0.1) 0px 6px 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3px;
  padding: 10px 20px;
  background: white;
   h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}


.cost{;
  font-weight: 800;
}


.form-inputs{
  padding: 10px;
}

#bookbutton{
 
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 5px;
}
