.user-dash-name {
  font-family: caveat;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 3rem;
}
.booking-confirm p {
  font-size: px;
}




#chef-btn{
  border-radius:5px;
  background-color: #A288E3;
  color:white;

  &:hover{
    background: #290149;
    color:white;
  }

}



.container-dash{
  border-radius: 10px;
  width: 95%;
}

.chef-dash-header{
font-family: 'Nunito Sans', sans-serif;
font-weight: 600;
font-size: 15px;
text-transform: uppercase;
padding: 20px 0;
color:rgb(161, 161, 161);
letter-spacing: 2px;
}

.chef-avatar{
  padding-top: 10px;
  border-radius:20px;
  padding: 5px;
  border-color:#e2d7ff;
  margin-top: 20px;
}


.booking-times{
  color:#b2015a;
  font-size: 1.5em;
  font-weight: 800;
}


.link-user-dash{
  color:white;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  margin-top:0;
  text-decoration: none;
  font-family: 'Nutino Sans', sans-serif;
  opacity: 1;
 letter-spacing: 1px;


  &:hover{
    color: rgb(185, 184, 184);
    font-weight: 500;
    opacity: 1;
  }
}


.link-recipe-dash{
  color:#290149;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  margin-top:0;
  text-decoration: none;
  font-family: 'Nutino Sans', sans-serif;
  opacity: 1;
 letter-spacing: 1px;
}



.chef-svg{
  width: 25%;
  justify-content: center;
}



.del-chef{
  background:#c90000;
  color:white;
  border-radius: 5px;
}

#headingOne{
  background-color:#290149;
}

#headingTwo{
  background-color:#290149;
}

#headingThree{
  background-color:#290149;
}

#headingFour{
  background-color:#290149;
}


.avatar-large{
  border-radius: 5px;
}
