// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




.bg-main{
  background-image: url("https://source.unsplash.com/Orz90t6o0e4") ;
  
  background-size: cover; 
  background-repeat: no-repeat;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  color:white;
  height: 80vh;
}


.bg-text{
  justify-content: center;
  align-items: center;
  color:white;
}


h1 {
  font-weight: 900;
  color:#75CFB8;
  margin-top:15px;
  padding: 10px;
}

.recipe-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


.recipe-link {
  color: white;

  &:hover {
    text-decoration: none;
    color: #76CFB8;
  }
}

#form-cont-home{
 
  width: 600px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}


.home-h1{
  color: white;
}




//MEDIA QUERIES ONLY BELOW

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  

  .bg-main{
    background-image: url("https://source.unsplash.com/Orz90t6o0e4") ;
    height: 50vh;
  }

  #form-cont-home{
 
    width: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

  }
  
  

}

