.recipe-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .recipe-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .recipe-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .recipe-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .recipe-cards {
    grid-template-columns: 1fr 1fr 1fr;
    }
  }

// recipe show page style
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
h4 {
  text-align: center;
}
.recipe-details {
  background-color: white;
  margin: 0 auto 16px auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
.bullet {
  font-size: 12px;
}

// recipe index page style
.recipe-info {
  background-color: white;
  opacity: 0.4;
}

.recipe-link {
  color: white;
  font-size: 20px;

  &:hover {
    color:white;
    text-decoration: none;
  }
}

.chef-link a {
  color: black;
  &:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

