.recipe-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius:20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 10px;
  border: solid 0.2em;

}
.shopping-list-checkbox {
    width: 40px;
    padding: 10px 5px;
    text-align: center;
}
.shopping-list-ingredients {
    border-bottom: 1px solid #efe0d3;
    padding: 8px 16px;
    font-size: 16px;
    font-family: poppins;
    font-weight: 400;
}
.shopping-list-container {
  background-color: #faf5f1;
  border-radius: 5px;
}
.shopping-list-description {
  border-left: 1px solid #efe0d3;
}
#recipe-card-style{
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 0 10px;
    border: solid 0.2em;

  }
#add-measurement {
  color:#290149;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  opacity: 1;
  letter-spacing: 1px;
  background-color: #f3eff9;
  border-radius: 5px;
}

.card-body{
  margin: 0 10px;

}


// recipe show page style
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
h4 {
  text-align: center;
}
.recipe-details {
  background-color: white;
  margin: 0 auto 16px auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
.bullet {
  font-size: 12px;
}

// recipe index page style
.recipe-info {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 0px;
  padding:0 20px;
  border-bottom: white solid 0.9em;
}

.recipe-link {
  color:#290149;
  font-size: 25px;
  padding: 5px;
  text-align: center;
  margin-top:0;
  text-decoration: none;
  font-family: 'Nutino Sans', sans-serif;
  opacity: 1;
 letter-spacing: 1px;


  &:hover{
    color: #A288E3;
    font-weight: 500;
    opacity: 1;
  }
}

.chef-link a {
  color: black;
  &:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}


.effect1{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 6px 6px -6px #777;
}

.effect2{
  -webkit-box-shadow: 0 6px 4px -6px rgb(173, 173, 173);
     -moz-box-shadow: 0 6px 4px -6px rgb(173, 173, 173);
          box-shadow: 0 6px 4px -6px rgb(173, 173, 173);
}


.recipe-head{
  color: #290149;
  margin-bottom: 0px;
  padding: 20px;
}

.head-container{
  background-color: white;
}

.recipe-link-hidden{
  opacity:0;
}


.tag-cloud a{
  background-color:#efe1fa;
  color:#c076f8;;
  // border-radius: 20px;
  font-size: 18px;
  padding: 2px 5px;
  margin: 20px 2px;
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  border: solid 1px #c076f8;
  border-radius: 10px;
}


#dropdownMenuButton{
  border: none;
  background: transparent;
  margin-left: 25px;
  margin-top: 20px;
}

  .red{
    color:#c076f8;
  }


  .fa-heart {
  // stroke: #290149;
  // stroke-width: 10px;

} 




  #like-heart a{
    color:rgb(209, 209, 209) ;

  }

  .tinytext{
    color: rgb(209, 209, 209);
    text-decoration: none;
    font-size: 13px;
    font-family: 'Nutino Sans', sans-serif;
  }

  .chef-recipe-name {
    font-family: caveat;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 2.5rem;
    color:#290149;
  }



  .chef-recipe-header4{
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 600;
      font-size: 15px;
      text-transform: uppercase;
      color:rgb(161, 161, 161);
      letter-spacing: 2px;
      }

      #cost-recipe{
        font-weight: 800;
        font-size:1.3em;
        border-radius: 5px;
        padding:5px;
        justify-content: center;
      }



      .fa-square{
        color:#A288E3;
        width:6%;

      }



      #tag_container{
        top: 60px !important ;
        position: absolute !important;
        transform: none !important;
      }

















// LEAVE CODE BELOW FOR FUTURE RESPONSIVE FIXES

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .recipe-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .recipe-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .recipe-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .recipe-cards {
    grid-template-columns: 1fr 1fr 1fr;
    }
  }
