// sign_in & sign_up scss
.log {
  background-color: white;
  width: 50%;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  padding: 24px;
  margin: 48px auto 48px;
  box-shadow: rgba(0,0,0,0.2) 0px 6px 16px;
}
.body-change {
  background-size: cover;
  background-position: center;
}
