// sign_in & sign_up scss


.log {
  background-color: white;
  width:60%;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  padding: 24px;
  margin: 48px auto 48px;
  box-shadow: rgba(0,0,0,0.2) 0px 6px 16px;
  border-radius: 5px;
  text-align: center;
}

.input-fields {
  margin: auto;
}

#login-banner {
    background-image: url("https://source.unsplash.com/Orz90t6o0e4") ;
    background-size: cover; 
    background-repeat: no-repeat;
    color:white;
    height: 20vh;
}

#forgot-pass-btn, button {
  color: black;
  background-color: aqua;
  font-size: 150px;
}


@media (min-width: 1025px) and (max-width: 1200px){
   /* For mobile phones: */
   [class*="log"] {
    width: 365px;
  }
}


@media (min-width: 769px) and (max-width: 1024px){
  [class*="log"] {
    width:365px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* For mobile phones: */
  [class*="log"] {
    width:365px;
  }
}


@media (min-width: 320px)and (max-width: 480px) {
  /* For mobile phones: */
  [class*="log"] {
    width:80%;
  }
}
